pyyaml
tqdm
rich
opencv-python
imgaug
lpips
plyfile
# tensorboard
sympy
numpy==1.23.5
pillow
matplotlib
bidict
ipdb
imageio
imageio-ffmpeg
open3d
timm
torchmetrics
kornia
roma
imgviz
protobuf
termcolor

# Waymo Open Dataset dependencies
waymo-open-dataset-tf-2-12-0==1.6.7

# Local submodule
./submodules/simple-waymo-open-dataset-reader